{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="col-md-10">

    <br>
    <h1 class="dominant-color">About</h1>
    <hr>

    <div class="about">
        <h5>This website is a project I created for defense of my Bachelor degree thesis.<br> The idea of this project is helping actors who are looking for a job.
            It gives you opportunity to public your profile. Also you can post job offer, if you are looking for actors. </h5>
    </div>

</div>
{% endblock %}