{% extends "base.html" %}
{% load static %}
{% block page_content %}
<br>

<div class="row person-info-container top-buffer">

    <div class="col-md-3 px-0">
        <div class="my-img-container-detail">
            <img src="{{ job.picture.url }}" class="img-announcement">
        </div>
    </div>

    <div class="col-md-9">
        <div class="top-buffer-small">
            <h1>{{ job.name }}</h1>
            <br>

            <h4>Localization: {{ job.localization }}</h4>
            <h4>Pay: {{ job.pay_monthly }} zl / month</h4>
            <h4>Employer: {{ job.company.name }} </h4>
            <h4>Contact Email: {{ job.company.user.email }} </h4>
        </div>
    </div>

</div>

<br>

<div class="row">

    <div class="col-md-8 person-info-container">
        <div class="top-buffer-small">
            <h5>About the job:</h5>
            <p>{{ job.description }}</p>
        </div>
    </div>

    <div class="col-md-4 person-info-container">
        <h5>Genres:</h5>
        <h5>
            {% for category in categories %}
            {{ category.name }} &nbsp&nbsp&nbsp&nbsp&nbsp
            {% endfor %}
        </h5>
    </div>

</div>
<br>
{% if request.user == job.company.user %}
    <h3>Manage this offer</h3>

    <div class="row">
        <div class="col-md-2">
            <form action="{% url 'edit_job' job.pk %}">
                <button type="submit" class="btn btn-primary ">Edit this offer</button>
            </form>
        </div>

        <div class="col-md-4">
            <form method="POST" action="{% url 'delete_job' job.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger ">Delete this offer</button>
            </form>
        </div>
    </div>

{% endif %}

{% endblock %}