{% extends "base.html" %}

{% block page_content %}
    <h2>Photos</h2>

    <table class="table">
        <thead>
            <tr>
                <th>All photos</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for photo in photos %}
            <tr>
                <td>
                    <img src="{{ photo.photo.url }}">
                </td>
                <td>
                    <form method="POST" action="{% url 'delete_photo' photo.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}