{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_content %}


<form action="" method="get">
    {{ filter.form | crispy }}
    <button class="btn btn-primary">Search</button>
</form>

<hr>


<div class="col-md-10">
    <br>
    <h1 class="dominant-color">Job offers</h1>
    <hr>

    <div class="container">
                {% for obj in filter.qs %}
                    <div class="row person-info-container top-buffer">
                        <div class="col-md-3 px-0">
                            <div class="my-img-container">
                                <img src="{{ obj.picture.url }}" class="img-announcement">
                            </div>
                        </div>

                        <div class="col-md-9 px-0">
                            <a class="overlay" href="{% url 'job_offer' obj.pk %}">
                                <div class="top-buffer-small">
                                    <h4>{{ obj.name }}</h4>
                                    <p>{{ obj.description | truncatewords:50 }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
        </div>
</div>
{% endblock %}